{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
<form action="/pgw/" method="POST" class="post-form">
        {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Enter Details</h3>
    </div>    
    </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Years Experience:</label>
    <div class="col-sm-4">
        {{ form.YearsExperience }}
    </div>
    </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Salary:</label>
    <div class="col-sm-4">
        {{ form.Salary }}
    </div>
    </div>

    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-primary">Submit</button>     
    </div>
    </div>
    </div>
</form>
</body>
</html>