<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
 <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
 <link rel="stylesheet" type="text/css" href="js/bootstrap.min.js">
    <link rel="stylesheet" type="text/css" href="style.css">

    <title>Visualisasi</title>
    <link href="{% static 'presentation.png' %}" rel="shortcut icon">

<style>
    body{
	background: rgb(213, 213, 231);
	
}
</style>

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
    <div class="container-fluid ">
      <a class="sidebar-brand d-flex align-items-center justify-content-center bg-gray-900" href="http://127.0.0.1:8000/prediksi/dashboard/">
        <div class="sidebar-brand-icon rotate-n-0">
          <img src="{% static 'presentation.png' %}" height="30"></img>
        </div>
        <div class="sidebar-brand-text mx-3 text-light"><b>Prediksi Gaji Pegawai</b></div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-light"  aria-current="page" href="predict.html">Prediksi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-light"  aria-current="page" href="http://127.0.0.1:8000/view">Data Pegawai</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="visualisasi.html">Visualisasi</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
      <br>
    <br>
    <br>


<div class="row justify-content-center">
  <div class="col-sm-12 col-md-9">
  <div class="card">
      <div class="card-header bg-dark">
       <div class="float-left">
          <h4 class="h4 m-0 text-light"><b>VISUALISASI DATA PEGAWAI</b></h4>
      </div>
      <div class="float-right">
        <a href="http://127.0.0.1:8000/prediksi/dashboard/" class="btn btn-secondary btn-sm">Kembali</a>
      </div>       
      </div>
      <div class="card-body">
        <div class="float-left">
          <h5>Berikut adalah visualisasi data pegawai </h5>
        </div>
  <br>
  <hr>
  <div class='tableauPlaceholder' align="center" id='viz1641966832934' style='position: relative'>
    <object class='tableauViz'  style='display:none;'>
      <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
      <param name='embed_code_version' value='3' /> 
      <param name='site_root' value='' />
      <param name='name' value='SEBARANDATA2&#47;Sebarandata2' />
      <param name='tabs' value='no' />
      <param name='toolbar' value='yes' />
      <param name='animate_transition' value='yes' />
      <param name='display_static_image' value='yes' />
      <param name='display_spinner' value='yes' />
      <param name='display_overlay' value='yes' />
      <param name='display_count' value='yes' />
      <param name='language' value='en-US' />
      <param name='filter' value='publish=yes' />
    </object></div>                
    <script type='text/javascript'>                    
    var divElement = document.getElementById('viz1641966832934');                    
    var vizElement = divElement.getElementsByTagName('object')[0];                    
    if ( divElement.offsetWidth > 800 ) 
    { 
    vizElement.style.minWidth='720px';
    vizElement.style.maxWidth='820px';
    vizElement.style.width='100%';
    vizElement.style.height='987px';
    } else if ( divElement.offsetWidth > 500 ) 
    { 
      vizElement.style.minWidth='720px';
      vizElement.style.maxWidth='820px';
      vizElement.style.width='100%';
      vizElement.style.height='987px';
      } else { vizElement.style.width='100%';
      vizElement.style.height='927px';}                     
      var scriptElement = document.createElement('script');                    
      scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
      vizElement.parentNode.insertBefore(scriptElement, vizElement);                
      </script>
    </div>
    </div>
    </div>
    </div>
  
    
<br>
    <footer class="bg-dark text-center text-white" style="background-color: rgba(0, 0, 0, 0.2);">
      <!-- Grid container -->
      <!-- <div class="container p-4 pb-0"> -->
  
      <!-- Copyright -->
      <div class="bg-dark container p-4 text-center" >
        © 2021 Copyright:
        <a class="text-white" href="">ABACH DAN DHANTI</a>
      </div>
      <!-- Copyright -->
  
  <!-- </div> -->
  <!-- Grid container -->
    </footer>

   
</body>
</html>